Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -bugprone-throwing-static-initialization,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-unused-return-value,
  -readability-convert-member-functions-to-static
HeaderFilterRegex: '.*AsterORM/(include|src|tests|examples)/.*'
FormatStyle: file
UseColor: true
